﻿@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.ma-l-r {
    margin-left: 5%;
    margin-right: 5%;
}

.c-label {
    padding-top: 10px;
}

.c-group {
    padding: 10px;
    border: 1px solid transparent;
    transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
}

    .c-group:hover {
        border: 1px solid silver;
        box-shadow: 0 0 7px 0 black;
    }

.c-btn-add {
    height: 40px;
    background: #098609;
    border: 1px solid #098609;
    border-radius: 7px;
    font-family: Roboto;
    color: white;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
    outline: none;
}

    .c-btn-add:hover {
        background: transparent;
        border: 1px solid #098609;
        border-radius: 7px;
        color: black;
        box-shadow: 1px 1px 7px 0 #098609;
    }

.c-btn-add-grey {
    height: 40px;
    width: 100px;
    background: silver;
    border: 1px solid silver;
    border-radius: 7px;
    color: white;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
    outline: none;
    font-family: Roboto;
}

    .c-btn-add-grey:hover {
        background: grey;
        border-radius: 7px;
        color: black;
        box-shadow: 0 0 7px 0 silver;
    }

.c-btn-delete {
    background: transparent;
    border: none;
    padding-top: 7px;
    padding-left: 0;
    outline: none;
    font-family: Roboto;
}

    .c-btn-delete:hover {
        cursor: pointer;
    }

.add-ic {
    content: url(../svg/icon-add.svg);
    vertical-align: text-bottom;
    height: 20px;
}

.delete-ic {
    content: url(../svg/icon-delete.svg);
    vertical-align: text-bottom;
    height: 15px;
}

.item-delete-ic {
    content: url(../svg/icon-delete.svg);
    vertical-align: middle;
    height: 8px;
}

.back-ic {
    content: url(../svg/icon-back.svg);
    vertical-align: text-bottom;
    height: 15px;
}

.dot-ic {
    content: url(../svg/icon-dot.svg);
    height: 8px;
}

.checkbox-check-ic {
    content: url(../svg/icon-check.svg);
    vertical-align: text-bottom;
    height: 15px;
    width: 15px;
}

.checkbox-uncheck-ic {
    content: url(../svg/icon-uncheck.svg);
    vertical-align: text-bottom;
    height: 15px;
    width: 15px;
}


/* bootstrap-demo is a custom classname to increases the specificity of our styles. It can be anything. 
 * The idea is that it is easy to extend/override builtin styles with very little effort.
 */
.bootstrap-demo .dropdown-trigger {
    border-radius: 0.25rem;
}

    .bootstrap-demo .dropdown-trigger > span:after {
        font-size: 12px;
        color: #555;
    }

.bootstrap-demo .toggle {
    font: normal normal normal 12px/1 FontAwesome;
    color: #555;
}

    .bootstrap-demo .toggle.collapsed::after {
        content: "\f067";
    }

    .bootstrap-demo .toggle.expanded::after {
        content: "\f068";
    }

.bootstrap-demo .root {
    padding: 0;
    margin: 0;
}

.background {
    background-color: #BEBEBE;
}

.leftScrollMenuBox {
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.mainSettingsBox {
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    min-height: 815px;
    padding: 35px;
}

.settings-square {
    background: #c4c4c4;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 5px;
    /*min-width: 500px;*/
    width: 100%;
    height: 300px;
    margin-right: 50px;
    overflow: auto;
    padding: 17px 10px 17px 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

    .settings-square label {
        margin-bottom: 0 !important;
        width: 100%;
    }

.addSettingsItem {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    border: none;
    background: transparent;
    color: #E4431F;
}

    .addSettingsItem:hover {
        text-decoration: underline;
    }

    .addSettingsItem:disabled {
        color: #555555;
    }

.settingsSquareLabel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    opacity: 0.3;
}

.mainSettingsSquareLabel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
    margin-bottom: 12px;
}

.redThing {
    background: #DF421F;
    border-radius: 0 0 3px 3px;
    width: 57px;
    height: 10px;
    margin-left: 30px;
}

.leftScrollMenuSubBox {
    padding: 27px;
}

.mb-60 {
    margin-bottom: 60px;
}

.addAccessBtn {
    font-family: Roboto;
    background: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #E4431F;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 5px;
    transition: background .3s ease-in-out, color .3s ease-in-out
}

    .addAccessBtn:hover {
        background: #E4431F;
        color: white;
    }

.accessItem {
    font-family: Roboto;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: grey;
    padding: 6px 12px 6px 12px;
    transition: color .2s ease-in-out;
}

    .accessItem label {
        margin-bottom: 0 !important;
    }

.whiteItem {
    background: white;
}

.transparentItem {
    background: transparent;
}

.accessItem:hover {
    cursor: pointer;
    color: black;
}

.appLabel {
    font-family: Roboto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.min-wd-235 {
    min-width: 235px;
}

.wd-100 {
    width: 100%;
    min-width: 300px;
}

.p-r-30 {
    padding-right: 30px;
}

.ta-r {
    text-align: end;
}

.statusBtn {
    font-family: Roboto;
    float: right;
    text-align: center;
    background: #E3E3E3;
    border-radius: 8px;
    width: 80px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #AAAAAA;
    transition: color .2s ease-in-out;
}

.statusBtnControl {
    font-family: Roboto;
    float: right;
    text-align: center;
    background-color: #E3E3E3 !important;
    border-radius: 8px !important;
    width: 61px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px !important;
    line-height: 15px;
    color: #AAAAAA;
    border: none !important;
    cursor: pointer !important;
    padding: 0 !important;
    transition: all 200ms ease;
}

.statusBtnOption {
    margin-top: 5px !important;
    font-family: Roboto;
    text-align: center;
    width: 78px;
    background-color: white !important;
    font-style: normal;
    font-weight: normal;
    font-size: 10px !important;
    border: none !important;
    border-radius: 8px !important;
}

    .statusBtn:hover {
        cursor: pointer;
        color: #E4431F;
    }

.arrow-open {
    display: none !important;
}

.arrow-closed {
    display: none !important;
}

.statusOpenBtn {
    font-family: Roboto;
    float: right;
    text-align: center;
    background: #E3E3E3;
    border-radius: 8px;
    width: 61px;
    height: 56px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #AAAAAA;
}

.helpInformationBtn {
    font-family: Roboto;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    float: right;
    background: #E3E3E3;
    border-radius: 8px;
    width: 20px;
    height: 16px;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    transition: color .2s ease-in-out;
}

    .helpInformationBtn:hover {
        cursor: pointer;
        color: #E4431F;
    }

.structureBtn {
    font-family: Roboto;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    line-height: 10px;
}

    .structureBtn:hover {
        cursor: pointer;
    }

        .structureBtn:hover .structureInfo {
            height: 200px;
            opacity: 1;
            visibility: visible;
        }

.structureInfo {
    visibility: hidden;
    margin-top: 22px;
    margin-left: -185px;
    padding: 5px;
    text-align: left;
    color: #B5B5B5;
    opacity: 0;
    background: white;
    border-radius: 10px;
    position: absolute;
    width: 300px;
    height: 0;
    transition: height .3s linear, opacity .3s linear;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.structure-ic {
    content: url(../svg/icon-structure.svg);
    vertical-align: text-bottom;
    /*height: 15px;*/
}

.settings-wheel-ic {
    content: url(../svg/icon-settings-wheel.svg);
    vertical-align: text-bottom;
    height: 15px;
}

.structure-info-ic {
    content: url(../svg/icon-structure-info.svg);
    vertical-align: text-bottom;
    height: 40px;
}

.structure-point-ic {
    content: url(../svg/icon-structure-poin.svg);
    vertical-align: text-bottom;
    height: 9px;
}

.settings-square-editor {
    font-family: Roboto;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 10px;
    border: 1px solid #888888;
    /*min-width: 500px;*/
    width: 100%;
    height: 300px;
    margin-right: 50px;
    padding: 17px 10px 0px 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.editSearch {
    width: 100%;
    height: 33px;
    padding-left: 10px;
    border: 1px solid rgba(83, 83, 83, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    color: #df421f;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.editSourceList {
    /*padding: 15px 0 0 25px !important;*/
    padding-left: 0 !important;
    overflow: auto;
    height: 210px;
}

.editListViewNavigation {
    text-align-last: center;
}

.btnApply {
    width: 100px;
    height: 30px;
    background: #DF421F;
    border: none;
    border-radius: 7px 7px 0 0;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.btnApplyAll {
    width: 100px;
    height: 30px;
    background: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #383635;
    opacity: 0.8;
    border: none;
}

.btnCancelAll {
    border: none;
    width: 130px;
    height: 30px;
    background: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #383635;
    opacity: 0.8;
}

.editItem {
    height: 28px;
    border-radius: 7px;
    padding-left: 5px;
}

    .editItem input[type="checkbox"] {
        display: none;
    }

    .editItem label {
        color: #000;
        cursor: pointer;
        font-weight: lighter;
        line-height: 12px;
        padding: 1px 0;
        vertical-align: middle;
        margin-bottom: 0 !important;
    }

        .editItem label:before {
            content: " ";
            color: #DF421F;
            display: inline-block;
            font: 12px FontAwesome;
            margin-right: 5px;
            position: relative;
            text-align: center;
            text-indent: 0px;
            width: 15px;
            height: 15px;
            background: transparent;
            border: 1px solid #DF421F;
            border-image: initial;
            vertical-align: middle;
        }

    .editItem input:checked + label:before {
        content: "\f00c";
    }

    .editItem input:disabled + label:before {
        background: #eee;
        color: #aaa;
    }

.itemLabel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.itemDefaultLabel {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.returnBtn {
    background: transparent;
    padding: 2px !important;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #DF421F;
}

.settingsInput {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding: 10px;
    border: 1px solid rgba(83, 83, 83, 0.3);
    box-sizing: border-box;
    border-radius: 3px;
    width: 234px;
    height: 37px;
}

.settingsTextArea {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid rgba(83, 83, 83, 0.3);
    box-sizing: border-box;
    border-radius: 3px;
    width: 450px;
    height: 100px;
}

.groupTypeBtnWhite {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    width: 190px;
    height: 45px;
    background: #FFFFFF;
    opacity: 0.6;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 22.5px;
}

.groupTypeBtnRed {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    width: 190px;
    height: 45px;
    background: #F83F3F;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 22.5px;
    color: white;
}

.deleteAccessGroupBtn {
    text-align: center;
    cursor: pointer;
    margin-top: 100%;
    padding: 15px 0 0 15px;
    width: 283px;
    height: 45px;
    border: none;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 22.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}

    .deleteAccessGroupBtn:hover {
        background: #f10000;
        color: white;
    }

.settingsLabel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #222222;
}

.treeNodeText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #222222;
    padding: 6px 0 6px 0;
    min-height: 28px;
    border-radius: 7px;
}

.deleteBtnItem {
    text-align: center;
    float: right;
    width: 16px;
    height: 16px;
    background: #E3E3E3;
    border-radius: 8px;
    margin-left: 5px;
}

/*Johnny Walker*/
.redLabel {
    color: #DF421F !important;
    font-weight: bold !important;
}

.display-n {
    display: none;
}

.menu-item {
    margin-top: 3%;
}

    .menu-item label {
        margin-bottom: 0 !important;
    }

    .menu-item input[type="radio"]:checked + label div span {
        font-weight: bold;
    }

.menu-item-icon {
    visibility: hidden;
    color: #DF421F !important;
    font-weight: bold !important;
    opacity: 0;
    transition: visibility 0s, opacity .4s linear;
    margin-right: 5px;
}

.menu-item input[type="radio"]:checked + label div .menu-item-icon {
    visibility: visible;
    opacity: 1;
}

.settingsBtn {
    visibility: hidden;
    opacity: 0;
    float: right;
    transition: visibility 0s, opacity .4s linear;
}

.menu-item input[type="radio"]:checked + label div .settingsBtn {
    visibility: visible;
    opacity: 1;
}

.settingsBtn:hover {
    cursor: pointer;
}

.statusBtn:hover .statusInfo {
    height: 100px;
    opacity: 1;
    visibility: visible;
}

.statusInfo {
    visibility: hidden;
    margin-top: 22px;
    padding: 5px;
    text-align: center;
    color: #AAAAAA;
    opacity: 0;
    background: #E3E3E3;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 0;
    /*overflow: auto;*/
    transition: height .3s linear, opacity .3s linear;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.statusInfoItem {
    background: white;
    border-radius: 10px;
    height: 20px;
    margin-bottom: 5px;
    line-height: 20px;
}

.structureInfoLabel {
    color: black !important;
    font-weight: bold;
}